/* You can add global styles to this file, and also import other style files */
body{
    background-color: #0A0E21;
    display:inline-block;
    display: inline;
    
    
}

.titulo {
    font-family: 'Raleway', sans-serif;
    color: rgb(232, 225, 214);
    text-align: center;
    margin-top: 25px;
}

.row {
    margin-top: 20px;
    
}
.btn-color{
    background-color: #ff3366;
    border-color: #ff3366;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;

}